{% for row in data %}
<table>
	<tr>
	    <th>Hotel ID</th>
	    <th>Name</th>
	    <th>Number of reviews</th>
	    <th>Address</th>
	    <th>Number of stars</th>
	    <th>Amenities</th>
	    <th>Image</th>
	    <th>Snaptravel Price</th>
	    <th>Hotel.com Price</th>
  	</tr>
    <tr>
      <td>{{ row.id }}</td>
      <td>{{ row.hotel_name }}</td>
      <td>{{ row.num_reviews }}</td>
      <td>{{ row.address }}</td>
      <td>{{ row.num_stars }}</td>
      <td>{{ row.amenities }}</td>
      <td><img src={{ row.image_url }}></td>
      <td>{{ row.snap_price }}</td>
      <td>{{ row.retail_price }}</td>
    </tr>
{% endfor %}
</table>
